.section-about {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 32px;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 80px;
}

.about-leftside {
    max-width: 520px;
    display: grid;
    grid-gap: 24px;
    align-content: center;
}

@media only screen and (max-width: 1236px) {
    .about-rightside img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 870px) {
    .section-about {
        grid-auto-flow: row;
        grid-template-columns: unset;
        justify-content: center;
    }

    .about-leftside {
        order: 2;
    }
}