.section-announcement {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 12px;
    align-items: center;
    justify-content: center;
    padding: 12px 32px;
    background-color: var(--main-purple);
}

.section-header {
    border-bottom: 1px solid var(--mwhite-10);
    position: sticky;
    top: 0;
    background-color: var(--main-black);
    z-index: 99;
}

.header-inside {
    padding-top: 24px;
    padding-bottom: 24px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto 1fr;
}

.header-nav {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 32px;
    align-items: center;
    /* justify-content: start; */
}

.header-nav li a:hover {
    text-decoration: underline;
}

.header-buttons-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
    align-items: center;
    justify-content: end;
}

.section-hero {
    padding-top: 52px;
    padding-bottom: 120px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 24px;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}

.hero-leftside {
    display: grid;
    grid-gap: 24px;
    align-content: start;
    max-width: 520px;
    padding-top: 52px;
}

.hero-leftside-buttons-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
    align-items: center;
    justify-content: start;
    padding-top: 24px;
}

#hero-cover-image {
    animation: heroimage 1.5s ease-in-out infinite;
}

@keyframes heroimage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 832px) {}